*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

#welcome-container{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    z-index: 10;
    text-align: center;
}

#welcome-container p { 
    color: #555;
    font-weight: 400;
    line-height: 1.6;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}
